@import "tailwindcss";

@theme {
    --color-ink: #12213A;
    --color-paper: #F5F6F3;
    --color-verified: #3D7A5C;
    --color-flag: #B23A3A;
    --color-inkgrey: #8A8F98;

    --font-sans: "IBM Plex Sans", sans-serif;
    --font-mono: "IBM Plex Mono", monospace;
}

body {
    background-color: var(--color-paper);
    font-family: var(--font-sans);
}